################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Portal-Backend-APIs/Portal.APIs/obj
/Portal-Backend-APIs/Portal.Shared/obj
/Portal-Backend-APIs/Portal.Shared/bin/Debug/net10.0
/Portal-Backend-APIs/Portal.Domain/obj
/Portal-Backend-APIs/Portal.Infrastructure/obj
/Portal-Backend-APIs/Portal.Contracts/bin/Debug/net10.0
/Portal-Backend-APIs/Portal.Contracts/obj
