################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Portal-Backend-APIs/Portal.APIs/obj
/Portal-Backend-APIs/Portal.Shared/obj
